.chart-container {
    display: flex;
    align-items: flex-start;
}

.chart-container>div {
    margin: 10px;
}

h1 {
    text-align: center;
}

#intro {
    text-align: center;
}

p {
    text-align: left;
}

#h3 {
    text-align: center;
}

.Box-container {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: flex-end;
    /* Align items to the right */
}

.button-box {
    width: 200px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    /* Adjust as needed for spacing */
}

.main-container {
    display: flex;
    flex-direction: row;
}

.dv1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 1px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.dv2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 1px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.dv3 {
    display: inline-block;
    padding: 8px 20px;
    margin: 1px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.gh {
    display: inline-block;
    padding: 10px 20px;
    margin: 1px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}