title {
    font-size: larger;
    font-weight: bold;
    align-items: center;
    color: black;
}

h1 {
    align-content: end;
    color: darkblue;
    text-align: center;
    font-weight: bolder;
}

h2 {
    align-items: normal;
    color: black;
    font-style: italic;
}

.intro {
    vertical-align: auto;
    text-align: left;
    font-style: italic;
    font-size: medium;
}

.main {
    color: black;
    text-align: center;
}

.dv1 {
    text-align: center;
    color: black;
}

#dv11 {
    color: red;
}

.dv2 {
    text-align: center;
    color: black;
}

#dv22 {
    color: red;
}

.dv3 {
    text-align: center;
    color: black;
}

#dv33 {
    color: red;
}

.dv4 {
    text-align: center;
    color: black;
}

#dv44 {
    color: red;
}

.backhome {
    text-align: center;
    align-content: center;
    bottom: auto;
}

.note {
    text-align: left;
    line
}

.svg1 {
    stroke: black;
    stroke-width: 2px;
    border-color: black;
    border-block-color: black;
    background-color: red;
    align-items: center;
}

.rect1 {
    fill: white;
    stroke: green;
    stroke-width: 2px;
}

.insidetext1 {
    fill: blue;
    size: 15pt;
}

.rect2 {
    fill: white;
    stroke: green;
    stroke-width: 2px;
}

.insidetext2 {
    fill: blue;
    size: 15pt;
    text-align: left;
}

.rect3 {
    fill: white;
    stroke: green;
    stroke-width: 2px;
}

.rect4 {
    fill: white;
    stroke: green;
    stroke-width: 2px;
}

.svg2 {
    stroke: black;
    stroke-width: 2px;
    border-color: black;
    border-block-color: black;
    background-color: green;
    align-content: last baseline;
}